[submodule "stan"]
	path = StanHeaders/inst/include/upstream
	url = https://github.com/andrjohns/stan.git
	ignore = dirty
	branch = log_mix
[submodule "StanHeaders/inst/include/mathlib"]
	path = StanHeaders/inst/include/mathlib
	url = https://github.com/andrjohns/math.git
	branch = feature/log_mix
